

<nav class="navbar navbar-expand-lg-k navbar-light">
    <div class="collapse navbar-collapse justify-content-center bg-primary" id="navbarCollapsemobile">
      <ul class="navbar-nav text-center">
        <li class="nav-item">

            <a lang = 'en' class="nav-link nav-text zoom-11" href="/">MAIN PAGE</a>
            <a lang = 'kz' class="nav-link nav-text zoom-11" href="/">БАСТЫ БЕТ</a>
            <a lang = 'ru' class="nav-link nav-text zoom-11" href="/">ГЛАВНАЯ</a>
        </li>
        <li class="nav-item">
            <a lang = 'en' class="nav-link nav-text zoom-11" href="#">ITEMS</a>
            <a lang = 'kz' class="nav-link nav-text zoom-11" href="#">ӨНІМДЕР</a>
            <a lang = 'ru' class="nav-link nav-text zoom-11" href="#">ТОВАРЫ</a>
          </li>
        <li class="nav-item">
            <a lang = 'en' class="nav-link nav-text zoom-11" href="../../news/1">NEWS</a>
            <a lang = 'kz' class="nav-link nav-text zoom-11" href="../../news/1">ЖАҢАЛЫҚТАР</a>
            <a lang = 'ru' class="nav-link nav-text zoom-11" href="../../news/1">НОВОСТИ</a>
        </li>
     
        <li class="nav-item">
            <a lang = 'en' class="nav-link nav-text zoom-11" href="#">ABOUT</a>
            <a lang = 'kz' class="nav-link nav-text zoom-11" href="#">КОМПАНИЯ ТУРАЛЫ</a>
            <a lang = 'ru' class="nav-link nav-text zoom-11" href="#">О КОМПАНИИ</a>
          </li>
        <li class="nav-item">
          <a lang = 'en' class="nav-link nav-text zoom-11" href="#">CERTIFICATES</a>
          <a lang = 'kz' class="nav-link nav-text zoom-11" href="#">СЕРТИФИКАТТАР</a>
          <a lang = 'ru' class="nav-link nav-text zoom-11" href="#">СЕРТИФИКАТЫ</a>

            <a class="nav-link nav-text zoom-11" href="/">ГЛАВНАЯ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text zoom-11" href="#">О КОМПАНИИ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link nav-text zoom-11" href="../news">НОВОСТИ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text zoom-11" href="#">ТОВАРЫ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text zoom-11" href="#">ЗАКУПКИ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text zoom-11" href="#">СЕРТИФИКАТЫ</a>
        </li>
      </ul>
    </div>
</nav>
</body>
</html>