{% extends 'include/base.html' %}
{% block title %} Innovation Medical Engineering Center {% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>IMEC НОВОСТИ</title>
  </head>
  <body>
    <div class="row mt-5">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="column ">

          {% for news in news_articles %}
            
          <div class="card mb-5" style="background-color:#f8f9fa;">
            <h1 lang = 'en' class="text-center mt-4 text-dark ">{{ news.title_en[:100] }}</h1>
            <h1 lang = 'ru' class="text-center mt-4 text-dark">{{ news.title_ru[:100] }}</h1>
            <h1 lang = 'kz' class="text-center mt-4 text-dark">{{ news.title_kz[:100] }}</h1>

            <div class="card-body" style="background-color:#f8f9fa;">
            
                <img src='/static/files/{{ news.path }}'  height = 300 width = 400 alt="" style="float: left; margin-right: 15px;">
        
                <h6 lang = 'en' class="text-muted" >{{ news.en|safe }} </h6>
                <h6 lang = 'ru' class="text-muted">{{ news.ru|safe }} </h6>
                <h6 lang = 'kz' class="text-muted" >{{ news.kz|safe }} </h6>
            </img>
                <a lang = 'en' href="../news" style="float: right;"class="btn btn-primary">Return</a>
                <a lang = 'ru' href="../news" style="float: right;"class="btn btn-primary">Вернуться</a>
                <a lang = 'kz' href="../news" style="float: right;"class="btn btn-primary">Қайту</a>
            </div>
        </div>

          {% endfor %}
          
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>
{% endblock %}
