
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Регистрация</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="container mt-5">
    <h1 lang="ru">Регистрация</h1>
    <h1 lang="kz">Тіркелу</h1>
    <h1 lang="en">Registration</h1>
    <form method="POST" action="{{ url_for('register') }}">
      <div class="form-group">
        <label lang="ru"for="name">Имя</label>
        <label lang="kz"for="name">Есім</label>
        <label lang="en"for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" required>
      </div>
      <div class="form-group">
        <label lang="ru" for="email">Почти</label>
        <label lang="kz" for="email">Пошта</label>
        <label lang="en" for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" required>
      </div>
      <div class="form-group">
        <label lang="ru" for="login">Логин</label>
        <label lang="kz" for="login">Логин</label>
        <label lang="en" for="login">login</label>
        <input type="text" name="login" class="form-control" id="login" required>
      </div>
      <div class="form-group">
        <label lang="ru" for="password">Пароль</label>
        <label lang="kz" for="password">Құпиясөз</label>
        <label lang="en" for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" required>
      </div>
      <button  lang="ru" type="submit" class="btn btn-primary">Зарегистрироваться</button>
      <button  lang="kz" type="submit" class="btn btn-primary">Тіркелу</button>
      <button  lang="en" type="submit" class="btn btn-primary">Sign IN</button>
    </form>
  </div>
  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>